body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*Headerpart.jsx*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background: #000;
  color: #fff;
  width: 100%;
  opacity: 0.8;
}
.logo {
  margin: 0;
  line-height: 60px;
  float: left;
}
.nav {
  list-style: none;
  float: left;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: inline-block;
  padding: 3px 15px;
  color: inherit;
  text-decoration: none;
}
/*Mainpart.jsx*/
.main {
  width: 100%;
  height: 90vh;
  background-color: #faf4f4;
  padding-top: 100px;
  background-image: url("./img/header.jpg");
  background-size: cover;
}
.about {
  width: 500px;
  height: 250px;
  border: 2px solid #000;
  margin: 25px auto;
  text-align: center;
  background-color: rgb(212, 248, 248);
  padding-bottom: 25px;
}

/*SecondMainpart.jsx*/
.second-main {
  width: 100%;
  height: 90vh;
  background-color: #f4f4f4;
}

.secondMain-contents {
  display: flex;
}
.secondContents-flex {
  width: 30%;
  height: auto;
  margin: 50px 30px;
  background-color: white;
  box-shadow: 0 0 4px rgb(68 68 68 / 24%);
  padding-bottom: 50px;
  color: #444444;
}
.secondContents-flex h1 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  color: #444444;
}
.secondContentsImage {
  height: 250px;
  width: 100%;
  background-image: url("./img/header.jpg");
  background-size: cover;
}
.secondContentsArticle p {
  display: block;
  font-size: 13px;
  padding: 10px 30px;
}
/*ボタン*/
.btn1 {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0 auto;
  width: 80px;
  font-size: 12px;
  box-shadow: 0 0 4px rgb(68 68 68 / 24%);
  cursor: pointer;
  background-color: white;
  border: none;
}

.btn1:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}

/*footer*/
.footer {
  width: 100%;
  height: 65px;
  color: #efefef;
  background-color: #3d3d3d;
  padding: 15px 0;
}
.footer a {
  text-decoration: none;
  color: #efefef;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer .menu li {
  margin: 0;
  padding: 0 20px;
  border-left: 1px #808080 solid;
}
.footer .menu li:first-child {
  padding-left: 0;
  border: none;
}
.footer .footerMessage {
  margin: 0;
  float: left;
  color: #efefef;
}
.footerMessage {
  padding-top: 10px;
}
/*Modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: 30px auto;
  box-shadow: 0 0 4px rgb(68 68 68 / 24%);
  background-color: white;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}
.modal-introduction {
  text-align: center;
}
.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  margin: 36px auto 40px;
}
.BtnWrap {
  text-align: center;
}
.modalCloseBtn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modalCloseBtn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: 0.3s ease-in-out;
}
